Repository hata0/turbo-example: changes, and which lefthook commands are due for each by the changed paths.
All: client, server

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    client:
      root: "apps/client/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:pre-commit && git update-index --again
    server:
      root: "apps/server/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:pre-commit && git update-index --again

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint:pre-push

test
  lefthook.yml
Due: none

feat: commit push 時のコマンドを改善
  apps/client/package.json
  apps/server/package.json
  apps/server/src/main.ts
  lefthook.yml
  package.json
  turbo.json
Due: client, server

test
  apps/server/tsconfig.json
Due: server

feat: openapi の依存パッケージを修正
  packages/openapi/package.json
  packages/openapi/tsconfig.json
  pnpm-lock.yaml
Due: none

feat: openapi/generated から openapi に移動し、lint 時 に tsc を追加
  apps/client/package.json
  apps/client/src/features/error/components/CheckError/index.tsx
  apps/client/src/features/posts/components/Posts/index.stories.tsx
  apps/client/src/features/posts/components/Posts/index.tsx
  apps/client/src/libs/openapi/base-config.ts
  apps/client/src/services/backend/posts/index.ts
  apps/client/src/services/backend/posts/query.ts
  apps/client/src/tests/mocks/posts-response.ts
  apps/server/package.json
  packages/openapi/package.json
Due: client, server

feat: cors 対策を設定
  apps/client/next.config.mjs
  apps/server/src/main.ts
Due: client, server

feat: 名前を client に変更
  apps/client/package.json
Due: client

feat: api を作成
  .env.example
  .gitignore
  apps/server/.dev.vars.example
  apps/server/.env.example
  apps/server/.gitignore
  apps/server/package.json
  apps/server/prisma/migrations/20241129140814_init/migration.sql
  apps/server/prisma/migrations/migration_lock.toml
  apps/server/prisma/schema.prisma
  apps/server/src/controllers/post.ts
  apps/server/src/handlers/post.ts
  apps/server/src/main.ts
  apps/server/src/routes/post.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: server

feat: openapi を作成
  apps/server/src/openapi/paths/post.ts
  apps/server/src/openapi/paths/posts.ts
  apps/server/src/openapi/schemas/error.ts
  apps/server/src/openapi/schemas/pagination.ts
  apps/server/src/openapi/schemas/post.ts
  apps/server/src/openapi/schemas/success.ts
Due: server

feat: api のバリデーションを作成
  apps/server/package.json
  apps/server/src/handlers/post.ts
  apps/server/src/main.ts
  apps/server/src/openapi/schemas/pagination.ts
  apps/server/src/openapi/schemas/post.ts
  apps/server/src/routes/post.ts
  apps/server/src/utils/handleZodError.ts
  pnpm-lock.yaml
Due: server

feat: orval の生成したものを使うように修正
  apps/client/orval.config.ts
  apps/client/package.json
  apps/client/src/app/posts/page.tsx
  apps/client/src/features/error/components/CheckError/index.tsx
  apps/client/src/features/posts/components/Posts/index.tsx
  apps/client/src/gen/api/post/post.ts
  apps/client/src/utils/fetcher.ts
  apps/client/src/utils/http-error.ts
  pnpm-lock.yaml
Due: client

feat: get で 404 を返すように改善し、date を string に変更
  apps/server/src/handlers/post.ts
  apps/server/src/openapi/paths/post.ts
  apps/server/src/openapi/schemas/post.ts
Due: server

feat: story を orval で生成したものを使うように修正
  apps/client/orval.config.ts
  apps/client/src/features/posts/components/Posts/index.stories.tsx
  apps/client/src/gen/api/model/index.ts
  apps/client/src/gen/api/model/postResponse.ts
  apps/client/src/gen/api/model/postResponsePost.ts
  apps/client/src/gen/api/model/postResponsePostAllOf.ts
  apps/client/src/gen/api/post/post.msw.ts
  apps/client/src/gen/api/post/post.zod.ts
Due: client

feat: error response を削除
  apps/client/biome.json
  apps/client/orval.config.ts
  apps/client/src/gen/api/post/post.msw.ts
  pnpm-lock.yaml
Due: client

feat: plop を使って openapi からモックを生成
  apps/client/package.json
  apps/client/plop-templates/mock/handler.ts.hbs
  apps/client/plop-templates/mock/mock.ts.hbs
  apps/client/plopfile.ts
  apps/client/src/gen/api/post/mock.ts
  apps/client/src/utils/fetcher.ts
  pnpm-lock.yaml
Due: client

feat: openapi の tags を複数形に変更
  apps/client/src/gen/api/posts/mock.ts
  apps/client/src/gen/api/posts/posts.msw.ts
  apps/client/src/gen/api/posts/posts.ts
  apps/client/src/gen/api/posts/posts.zod.ts
  apps/server/src/openapi/paths/post.ts
Due: client, server

feat: HttpClient を作成
  apps/client/orval.config.ts
  apps/client/plopfile.ts
  apps/client/src/app/posts/page.tsx
  apps/client/src/constants/backend-url.ts
  apps/client/src/features/posts/components/Posts/index.tsx
  apps/client/src/gen/api/posts/mock.ts
  apps/client/src/gen/api/posts/posts.ts
  apps/client/src/libs/openapi/base-config.ts
  apps/client/src/libs/openapi/fetcher.ts
  apps/client/src/utils/fetcher.ts
  apps/client/src/utils/http-client.ts
Due: client

feat: モック生成処理に orval の生成したモックの名前を変更する処理を追加
  apps/client/plopfile.ts
  apps/client/src/gen/api/posts/mock.ts
  apps/client/src/gen/api/posts/posts.msw.ts
Due: client

feat: ストーリーのインポートを更新
  apps/client/src/features/posts/components/Posts/index.stories.tsx
Due: client

refactor: ファイルを整理
  apps/client/plop-templates/mock/mock.ts.hbs
  apps/client/src/gen/api/posts/mock.ts
  apps/client/src/gen/api/posts/posts.msw.ts
  apps/client/src/libs/tanstack-query/queryHandlerFactory.ts
  apps/client/src/services/backend/posts/index.ts
  apps/client/src/services/backend/posts/mock.ts
  apps/client/src/services/backend/posts/query.ts
  apps/client/src/tests/mocks/posts-response.ts
  apps/client/src/tests/msw/httpHandlerFactory.ts
Due: client

feat: input と output を定数で定義
  apps/client/orval.config.ts
  apps/client/plopfile.ts
  apps/client/src/gen/api/posts/posts.msw.ts
Due: client

feat: port と env で指定
  apps/server/.dev.vars.example
  apps/server/.env.example
  apps/server/src/index.ts
Due: server

feat: gen-mocks をパッケージ化
  apps/client/package.json
  apps/client/plopfile.ts
  packages/gen-mocks/biome.json
  packages/gen-mocks/package.json
  packages/gen-mocks/src/gen/api/model/createPostBody.ts
  packages/gen-mocks/src/gen/api/model/deleteManyPostBody.ts
  packages/gen-mocks/src/gen/api/model/errorResponse.ts
  packages/gen-mocks/src/gen/api/model/getPostsParams.ts
  packages/gen-mocks/src/gen/api/model/getPostsSort.ts
  packages/gen-mocks/src/gen/api/model/index.ts
  packages/gen-mocks/src/gen/api/model/paginationResponse.ts
  packages/gen-mocks/src/gen/api/model/post.ts
  packages/gen-mocks/src/gen/api/model/postResponse.ts
  packages/gen-mocks/src/gen/api/model/postsResponse.ts
  packages/gen-mocks/src/gen/api/model/successResponse.ts
  packages/gen-mocks/src/gen/api/model/updatePostBody.ts
  packages/gen-mocks/src/gen/api/posts/mock.ts
  packages/gen-mocks/src/gen/api/posts/posts.msw.ts
  packages/gen-mocks/src/gen/api/posts/posts.ts
  packages/gen-mocks/src/gen/api/posts/posts.zod.ts
  packages/gen-mocks/src/index.ts
  packages/gen-mocks/src/templates/mock/handler.ts.hbs
  packages/gen-mocks/src/templates/mock/mock.ts.hbs
  packages/gen-mocks/src/utils.ts
  packages/gen-mocks/tests/index.test.ts
  packages/gen-mocks/tests/utils/plopfile.js
  packages/gen-mocks/tsconfig.json
  packages/gen-mocks/vitest.config.ts
  pnpm-lock.yaml
Due: client

feat: serverの処理をクリーンアーキテクチャになるように改善
  apps/client/package.json
  apps/server/package.json
  apps/server/src/application/query-service/base.ts
  apps/server/src/application/query-service/http/post/list.ts
  apps/server/src/application/query-service/http/post/post.ts
  apps/server/src/application/use-case/post/command.ts
  apps/server/src/application/use-case/post/use-case.ts
  apps/server/src/cmd/index.ts
  apps/server/src/core/error.ts
  apps/server/src/domain/model/common/id.ts
  apps/server/src/domain/model/post.ts
  apps/server/src/domain/repository/post.ts
  apps/server/src/handlers/post.ts
  apps/server/src/index.ts
  apps/server/src/infrastructure/http/app.ts
  apps/server/src/infrastructure/http/handler.ts
  apps/server/src/infrastructure/http/injector/post.ts
  apps/server/src/infrastructure/http/node.ts
  apps/server/src/infrastructure/http/router/post.ts
  apps/server/src/interface/command/http/post.ts
  apps/server/src/interface/handler/post.ts
  apps/server/src/interface/repository/post.ts
  apps/server/src/main.ts
  apps/server/src/openapi/paths/post.ts
  apps/server/src/openapi/schemas/post.ts
  apps/server/src/routes/post.ts
  packages/gen-mocks/tsconfig.json
Due: client, server

refactor: StatusCodeを使うようにし、Status型を作成
  apps/server/src/application/query-service/http/post/list.ts
  apps/server/src/application/use-case/post/use-case.ts
  apps/server/src/cmd/index.ts
  apps/server/src/core/error.ts
  apps/server/src/domain/model/common/id.ts
  apps/server/src/domain/repository/post.ts
  apps/server/src/infrastructure/http/handler.ts
  apps/server/src/interface/handler/post.ts
  apps/server/src/interface/repository/post.ts
Due: server

chore: vitestを導入
  apps/server/package.json
  apps/server/vitest.config.ts
  pnpm-lock.yaml
Due: server

chore: fakerを導入
  apps/server/package.json
  apps/server/vitest.config.ts
  pnpm-lock.yaml
Due: server

feat: modelのテストを作成
  apps/server/src/domain/model/common/id.test.ts
  apps/server/src/domain/model/post.test.ts
Due: server

feat: PostUseCaseのテストを作成
  apps/server/src/application/use-case/post/command.ts
  apps/server/src/application/use-case/post/use-case.test.ts
  apps/server/src/application/use-case/post/use-case.ts
  apps/server/src/domain/model/post.test.ts
  apps/server/src/interface/command/http/post.ts
  apps/server/src/tests/mocks/post.ts
  apps/server/src/tests/utils/array.ts
  apps/server/src/tests/utils/fake-timer.ts
Due: server

feat: query serviceのbaseを作成
  apps/server/src/application/query-service/base.test.ts
Due: server

feat: ListPostHttpQueryServiceのテストを作成
  apps/server/src/application/query-service/http/post/list.test.ts
  apps/server/src/application/query-service/http/post/list.ts
  apps/server/src/application/use-case/post/use-case.test.ts
  apps/server/src/interface/handler/post.ts
  apps/server/src/utils/array.ts
Due: server

feat: post commandのテストを作成
  apps/server/package.json
  apps/server/src/interface/command/http/post.test.ts
Due: server

feat: handlerのテストを作成
  apps/server/src/application/query-service/http/post/list.test.ts
  apps/server/src/application/query-service/http/post/post.ts
  apps/server/src/infrastructure/http/app.ts
  apps/server/src/infrastructure/http/handler.ts
  apps/server/src/infrastructure/http/injector/post.ts
  apps/server/src/interface/handler/post.test.ts
  apps/server/src/interface/handler/post.ts
  apps/server/src/interface/handler/util.test.ts
  apps/server/src/interface/handler/util.ts
  apps/server/src/openapi/paths/post.ts
  apps/server/src/openapi/schemas/post.ts
  apps/server/src/tests/mocks/pagination.ts
  apps/server/src/tests/mocks/post.ts
  apps/server/src/tests/utils/request.ts
Due: server

refactor: ファイル名を単数形に変更
  apps/server/src/application/query-service/http/post/list.test.ts
  apps/server/src/application/query-service/http/post/list.ts
  apps/server/src/application/use-case/post/use-case.test.ts
  apps/server/src/domain/model/post.test.ts
  apps/server/src/infrastructure/http/router/post.ts
  apps/server/src/interface/command/http/post.test.ts
  apps/server/src/interface/handler/post.test.ts
  apps/server/src/interface/handler/post.ts
  apps/server/src/interface/handler/util.test.ts
  apps/server/src/openapi/path/post.ts
  apps/server/src/openapi/schema/error.ts
  apps/server/src/openapi/schema/pagination.ts
  apps/server/src/openapi/schema/post.ts
  apps/server/src/openapi/schema/success.ts
  apps/server/src/test/mock/pagination.ts
  apps/server/src/test/mock/post.ts
  apps/server/src/test/util/fake-timer.ts
  apps/server/src/test/util/request.ts
  apps/server/src/util/array.ts
Due: server

feat: handlerのバリデーションの方法を変更
  apps/server/src/interface/handler/post.test.ts
  apps/server/src/interface/handler/post.ts
  apps/server/src/test/util/request.ts
Due: server

refactor: handlerをcontrollerに改名
  apps/server/src/infrastructure/http/injector/post.ts
  apps/server/src/infrastructure/http/router/post.ts
  apps/server/src/interface/controller/post.test.ts
  apps/server/src/interface/controller/post.ts
  apps/server/src/interface/handler/util.test.ts
  apps/server/src/interface/handler/util.ts
Due: server

refactor: schemaをmanyからmultipleに改名
  apps/server/src/interface/controller/post.ts
  apps/server/src/openapi/path/post.ts
  apps/server/src/openapi/schema/post.ts
Due: server

feat: handlerのテストを作成
  apps/server/src/infrastructure/http/handler.test.ts
Due: server
